<h1>{{i18n 'cribl_leaderboard.title'}}</h1>
<nav>
  <ul class='nav nav-pills'>
    {{nav-item
      route='cribl_leaderboard.todays'
      label='cribl_leaderboard.nav.today'
    }}
    {{nav-item
      route='cribl_leaderboard.quarters'
      label='cribl_leaderboard.nav.quarter'
    }}
    {{nav-item
      route='cribl_leaderboard.custom'
      label='cribl_leaderboard.nav.custom'
    }}
  </ul>
</nav>

{{outlet}}

{{log model}}
<table class='table grid leaderboard-list'>
  <thead>
    {{table-header-toggle
      field='rank'
      labelKey='cribl_leaderboard.fields.rank'
      order=order
      asc=asc
      automatic=true
    }}
    {{table-header-toggle
      field='name'
      labelKey='cribl_leaderboard.fields.name'
      order=order
      asc=asc
      automatic=true
    }}
    {{table-header-toggle
      field='points'
      labelKey='cribl_leaderboard.fields.points'
      order=order
      asc=asc
      automatic=true
    }}
    <th>&nbsp;</th>
  </thead>
</table>