<h1>{{i18n 'cribl_leaderboard.title'}}</h1>
<nav>
  <ul class='nav nav-pills'>
    {{nav-item
      route='cribl_leaderboard.todays'
      label='cribl_leaderboard.nav.today'
    }}
    {{nav-item
      route='cribl_leaderboard.quarters'
      label='cribl_leaderboard.nav.quarter'
    }}
    {{nav-item
      route='cribl_leaderboard.custom'
      i18nLabel=siteSettings.cribl_leaderboard_custom_title
    }}
  </ul>
</nav>

{{outlet}}