{{#if leaderboard}}
  <table class='table grid cribl-leaderboard-list'>
    <thead>
      {{table-header-toggle
        field='rank'
        labelKey='cribl_leaderboard.fields.rank'
        automatic=true
      }}
      {{table-header-toggle
        field='name'
        labelKey='cribl_leaderboard.fields.name'
        automatic=true
      }}
      {{#if isTodays}}
        {{table-header-toggle
          field='relativeRank'
          labelKey='cribl_leaderboard.fields.relative_rank'
          automatic=true
        }}
      {{/if}}
      {{table-header-toggle
        field='points'
        labelKey='cribl_leaderboard.fields.points'
        automatic=true
      }}
      {{table-header-toggle
        field='timestamp'
        labelKey='cribl_leaderboard.fields.timestamp'
        automatic=true
      }}
    </thead>
    <tbody>
      {{#each leaderboard as |item|}}
        {{cribl-leaderboard-table-row item=item isTodays=isTodays}}
      {{/each}}
    </tbody>
  </table>
  {{conditional-loading-spinner condition=refreshing}}
{{else}}
  <p>{{i18n 'cribl_leaderboard.no_results'}}</p>
{{/if}}